/* ABOUT US PAGE */

.aboutus__header {
    margin: 5rem 6rem;
    height: calc(100vh - 5rem);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

header .img-block {
    overflow: hidden;
}

header img {
    width: 600px;
    height: 400px;
    object-fit: contain;
}

header h1 {
    text-align: center;
    margin: 0rem 0 4rem 0;
    color: var(--color-primary);
}

.features {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 500px;
    margin-top: 2rem;
}

.features h2 {
    align-self: start;
    text-align: center;
    border-top: 4px solid;
    border-left: 4px solid;
    border-left-style: dashed;
    border-top-style: dashed;
    border-left-color: black;
    border-top-color: black;
    padding: 1rem;
    color: #7B2844;
}

.features h2:nth-child(1) {
    grid-row-start: 3;
}

.features h2:nth-child(2) {
    grid-row-start: 2;
    grid-column-start: 2;
}

.features h2:nth-child(3) {
    grid-row-start: 1;
    grid-column-start: 3;
}

.aboutus__container {
    margin: 5rem 6rem;
}

.aboutus__container h2 {
    text-align: center;
    margin: 3rem 0 2rem 2rem;
}

.aboutus__container p {
    text-align: center;
}

.our__mission {
    margin: 5rem 6rem;
    padding: 4rem;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.our__mission h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.our__mission img {
    height: 200px;
    width: 300px;
    margin: auto;
}

.mission_content p {
    padding: 2rem 3rem;
    box-shadow: 0.5rem 0.5rem #002642, -0.5rem -0.5rem #002642;
}

.approach_content p {
    padding: 2rem 3rem;
    box-shadow: 0.5rem 0.5rem #002642, -0.5rem -0.5rem #002642;
}

.our__approach {
    margin: 5rem 6rem;
    padding: 4rem;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.our__approach h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.our__approach img {
    height: 200px;
    width: 300px;
    margin: auto;
}

.contactus {
    margin: 5rem 6rem;
}

.contactus h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.contactus p {
    margin: 0 0 2rem 0;
}

.contactus a {
    display: block;
    margin: auto;
}

@media only screen and (max-width: 500px) {
    .aboutus__header {
        margin: 2rem 1rem;
        margin-top: 6rem;
        grid-template-columns: 1fr;
        height: 100%;
        gap: 3rem;
    }

    .img-block.owl-carousel img,
    .our__mission img,
    .our__approach img {
        width: 320px;
        height: 320px;
        object-fit: contain;
    }

    .features {
        display: block;
        width: 100%;
    }

    .features h2 {
        border: none;
        margin: 1rem 0;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }

    .aboutus__container {
        margin: 1rem;
    }

    .aboutus__container h2 {
        margin: 2rem 0;
    }

    .aboutus__container p {
        padding: 1rem;
        box-shadow: 0.5rem 0.5rem #002642, -0.5rem -0.5rem #002642;
        text-align: left;
    }

    .our__mission,
    .our__approach {
        margin: 2rem 0;
        padding: 0;
        width: 100%;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .our__approach {
        margin: 0;
    }

    .our__approach img {
        grid-row-start: 1;
    }

    .mission_content,
    .approach_content {
        margin: 1rem;
    }

    .mission_content h2,
    .approach_content h2 {
        margin: 2rem 0;
    }

    .mission_content p,
    .approach_content p {
        padding: 1rem;
    }
    
    .contactus{
        margin: 3rem 1rem;
    }
    
    .contactus h1{
        margin: 2rem 0;
    }
    
    .contactus p{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 1rem;
    }
}